
:root{
	--dark-main: #000;
	--dark-gray:rgba(31, 21, 52, 0.7);
	--blue-main:rgba(69, 143, 246, 1);
	--mulish:'Mulish', sans-serif;
}

*{
	font-family: var(--mulish);
}
.container{
	max-width: 1150px;
	margin-right: auto;
	margin-left: auto;
}
.container1{
	max-width: 1550px;
	margin-right: auto;
	margin-left: auto;
}

/* START OF HEADER */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 48px;
}
.navigation {
	display: flex;
}
.navigation-li {
	margin-right: 40px;
	list-style: none;
}
.navigation-li:last-child{
	margin-right: 0;
	margin-right: 15px;
}
.navigation-a {
	display: inline-block;
	text-decoration: none;
	font-weight: 400;
	font-style: 18px;
	color: var(--dark-gray);
	transition: 0.2s;
}
.navigation-a:hover{
	padding-bottom: 5px;
	border-bottom: 2px solid #222;
}
.navigation-a:active{
	transform: scale(1.10);
	color: var(--dark-main);
}
/* END OF HEADER */

/* START OF HERO */
.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 111px;
}
.hero-content {
	width: 445px;
	height: 338px;
	margin-right: 100px;
}
.hero-text-title {
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
}
.hero-info {
	font-weight: 300;
	font-size: 21px;
	line-height: 32px;
	color: var(--dark-gray);
}
.btn {
	width: 200px;
	height: 56px;
	border-radius: 55px;
	border: 2px solid var(--blue-main);
  background-color: #ffffff00;
	font-size: 16px;
	font-weight: 700;
	color: var(--blue-main);
}

.btn:hover{
	background-color: var(--blue-main);
	color: #fff;
}
/* END OF HERO */

/* START OF SERVICES */
.services{
	margin-bottom: 220px;
}
.services--title {
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 36px;
	line-height: 56px;
}
.services-hr{
	width: 56px;
	height: 2px;
	background-color: #222;
}
.services--desc {
	display: flex;
	justify-content: center;
	text-align: center;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: var(--dark-gray);
}
.element1 {
		position: absolute;
	z-index: 1;
	left: 0;
}
.element2 {
	position: absolute;
	z-index: 1;
	right: 0;
	top: 1251px;
}
.services--card-grid {
	position: relative;
	z-index: 2;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 30px;
	margin-bottom: 69px;
	padding-left: 0;
}
.services--card {
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	list-style: none;
	padding: 54px 45px 46px 37px;
	filter: drop-shadow(3px 4px 8px #2222225d);
}
.services--card:hover {
	transform: translateY(-10px);
	transition: 0.3s;
}
.services--card:active {
	transform: scale(1.10);
}
.services-btn {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 56px;
	border-radius: 55px;
	border: 2px solid var(--blue-main);
  background-color: #ffffff00;
	font-size: 16px;
	font-weight: 700;
	color: var(--blue-main);
}
.services-btn:hover{
		background-color: var(--blue-main);
	color: #fff;
}
/* END OF SERVICES */


/* START OF HEALTHCARE */
.healthcare {
	display: flex;
	justify-content: space-between; 
	margin-bottom: 220px;
}
.healthcare-image {
	margin-right: 137px;
}

.healthcare-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 56px;
	margin-bottom: 26px;
}
.healthcare-hr {
	width: 56px;
	height: 2px;
	background-color: #222;
	margin-left: 0;
	margin-bottom: 31px;
}
.healthcare-text {
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: var(--dark-gray);
	margin-bottom: 37px;
}
/* END OF HEALTHCARE */


/* START OF APPS */
.apps {
	display: flex;
	justify-content: space-between;
	margin-bottom: 220px;
}
.apps-content {
	margin-left: 145px;
	margin-right: 70px;
}
.apps-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 48px;
	margin-bottom: 30px;
}
.apps-hr {
	width: 56px;
	height: 2px;
	background-color: #222;
	margin-left: 0;
	margin-bottom: 31px;
}
.apps-text {
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: var(--dark-gray);
	margin-bottom: 40px;
}
.vector {
	margin-left: 14px;
	transform: rotate(-90deg);
}
/* END OF APPS */

/* START OF TESTIMONIALS */
.testimonials {
	width: 1120px;
	height: 425px;
	background: linear-gradient(208.18deg,
	 #67C3F3 9.05%,
	 #5A98F2 76.74%);
	 border-radius: 24px;
	 color: #fff;
	 margin-bottom: 220px;
}
.testimonials-title {
	display: flex;
	justify-content: center;
	padding-top: 64px;
	font-weight: 700;
	font-size: 36px;
	line-height: 48px;
}
.testimonials-hr {
	width: 56px;
	height: 2px;
	background-color: #fff;
	margin-bottom: 66px;
}
.testimonials-card {
	display: flex;
	justify-content: space-between;
}
.user {
	border-radius: 50%;
	margin-left: 100px;
	margin-right: 28px;
}

.testimonials-name {
	font-weight: 700;
	font-size: 22px;
	line-height: 48px;
	margin: 0;
	margin-top: 25px;
}
.testimonials-role {
	font-weight: 400;
	font-size: 18px;
	line-height: 48px;
	margin: 0;
}
.testimonials-text {
	width: 420px;
	height: 120px;
	margin-right: 118px;
	margin-left: 118px;
	font-weight: 400;
	font-size: 19px;
	line-height: 30px;
}
/* END OF TESTIMONIALS */


/* START OF ARTICLES */
.articles {
	margin-bottom: 130px;
}
.articles-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 56px;
	display: flex;
	justify-content: center;
}
.articles-hr {
	width: 56px;
	height: 2px;
	background-color: #000;
	margin-bottom: 69px;
}
.articles-cards {
	display: flex;
	justify-content: space-between;
	filter: drop-shadow(3px 4px 8px #2222221c);
  position: relative;
	z-index: 2;
}
.articles-card {
	width: 350px;
	height: 512px;
	list-style: none;
	border-radius: 20px;
	background-color: #fff;
	margin-bottom: 69px;
}
.articles-card:hover {
	transform: translateY(-10px);
	transition: 0.3s;
}
.articles-card:active {
	transform: scale(1.10);
}
.articles-img {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.articles-card-title {
	font-weight: 700;
	font-size: 21px;
	line-height: 32px;
	margin: 24px 24px 12px 33px;
}
.articles-card-text {
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	margin-right: 24px;
	margin-left: 33px;
	color: var(--dark-gray);
	margin-bottom: 25px;
}
.articles-card-link {
	text-decoration: none;
	color: var(--blue-main);
	margin-left: 33px;
}
.strelka {
	width: 14px;
	margin-left: 15px;
	transform: rotate(-180deg);
}
.articles-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.element3{
	position: absolute;
	top: 4100px;
	right: 0;
  transform: rotate(-180deg);
}
.element4{
	position: absolute;
	top: 4100px;
}
/* END OF ARTICLES */

/* START OF FOOTER*/
footer{
	color: #fff;
}
.footer-content {
background:
 linear-gradient(183.41deg,
  #67C3F3 -8.57%,
	 #5A98F2 82.96%);

}
.test{
	display: flex;
	justify-content: space-between;
	 height: 320px;
	 padding-top: 115px;
}
.footer-logo {
	display: flex;
	text-align: center;
	align-items: center;
}
.footer-logo-fon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	background-color: #fff;
	border-radius: 50%;
	margin-right: 15px;
	margin-bottom: 17px;
	color: var(--blue-main);
}
.footer-logo-text {
	color: #fff;
}
.footer-text {
	width: 391px;
	height: 84px;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 31px;
}
.footer-title {
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
}
.footer-col {
padding: 0;
}
.footer-list {
	list-style: none;
	font-weight: 300;
	font-size: 18px;
	line-height: 38px;
}
.bold {
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 60px;
}
/* END OF FOOTER */


@media (max-width: 500px) {
	.container {
		max-width: 380px;
		margin-left: auto;
		margin-right: auto;
	}
.navigation {
	display: none;
}
.hero {
	flex-direction: column;
}
.hero-content {
	margin: 0;
	width: 300px;
	height: 300px;
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
}
.hero-text-title {
	font-size: 32px;
	line-height: 40px;
}
.hero-info {
	font-size: 16px;
	line-height: 24px;
}
.consult-today:active{
 	transform: scale(1.10);
	background-color: var(--blue-main);	
}
.image {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
.services {
	margin-bottom: 100px;
}
.services--title {
	font-size: 32px;
	line-height: 40px;
}

.services--desc {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 28px;
}
.element1 {
	display: none;
}
.element2 {
	display: none;
}
.services--card-grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
}
.healthcare {
	flex-direction: column-reverse;
	text-align: center;
	margin-bottom: 100px;
}
.healthcare-image {
	width: 98%;
	margin: 0;
}
.healthcare-content {
	width: 90%;
	height: 400px;
}
.healthcare-title {
	font-size: 32px;
	line-height: 40px;
	margin-bottom: 28px;
	margin-right: auto;
	margin-left: auto;
}
.healthcare-hr {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.healthcare-text {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 28px;
}
.apps {
	flex-direction: column;
	text-align: center;
	margin: 0;
}
.apps-content {
	margin: 0;
	width: 90%;
	height: 450px;
}
.apps-title {
	font-size: 32px;
	line-height: 40px;
	margin-bottom: 28px;
}
.apps-hr {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.apps-text {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 28px;
}
.vector {
	display: none;
}
.apps-image {
	width: 90%;
}
.testimonials {
	display: none;
}
.articles-title {
	font-size: 32px;
	line-height: 40px;
	display: flex;
	justify-content: center;
	text-align: center;
}
.element4 {
	display: none;
}
.element3 {
	display: none;
}
.articles-cards {
	flex-direction: column;
	padding: 0;
}
.articles-card {	
	margin-left: auto;
	margin-right: auto;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.footer-text {
	display: none;
}
.footer-title {
	display: none;
}
.footer-col {
	display: none;
}
.footer-list {
	display: none;
}
.bold {
	display: none;
}
}