
:root{
	--dark-main: #000;
	--dark-gray:rgba(31, 21, 52, 0.7);
	--blue-main:rgba(69, 143, 246, 1);
	--mulish:'Mulish', sans-serif;
}

*{
	font-family: var(--mulish);
}
.container{
	max-width: 1150px;
	margin-right: auto;
	margin-left: auto;
}
.container1{
	max-width: 1550px;
	margin-right: auto;
	margin-left: auto;
}

/* START OF HEADER */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 48px;
	margin-top: 40px;
}
.navigation {
	display: flex;
}
.navigation-li {
	margin-right: 40px;
	list-style: none;
}
.navigation-li:last-child{
	margin-right: 0;
	margin-right: 15px;
}
.navigation-a {
	display: inline-block;
	text-decoration: none;
	font-weight: 400;
	font-style: 18px;
	color: var(--dark-gray);
	transition: 0.2s;
}
.navigation-a:hover{
	padding-bottom: 5px;
	border-bottom: 2px solid #222;
}
.navigation-a:active{
	transform: scale(1.10);
	color: var(--dark-main);
}
/* END OF HEADER */

/* START OF HERO */
.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 111px;
}
.img{
	position: fixed;
	z-index: 2;
	top: 160px;
}
.hero-content {
	width: 445px;
	height: 338px;
	margin-right: 100px;
}
.hero-text-title {
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
}
.hero-info {
	font-weight: 300;
	font-size: 21px;
	line-height: 32px;
	color: var(--dark-gray);
}
.consult-today {
	width: 200px;
	height: 56px;
	border-radius: 55px;
	border: 2px solid var(--blue-main);
  background-color: #ffffff00;
	font-size: 16px;
	font-weight: 700;
	color: var(--blue-main);
}

.consult-today:hover{
	background-color: var(--blue-main);
	color: #fff;
}
/* END OF HERO */

/* START OF SERVICES */
.services {
}
.services--title {
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 36px;
	line-height: 56px;
}
.services-hr{
	width: 56px;
	height: 2px;
	background-color: #222;
}
.services--desc {
	display: flex;
	justify-content: center;
	text-align: center;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: var(--dark-gray);
}
.element1 {
}
.element2 {
}
.services--card-grid {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 30px;
	margin-bottom: 69px;
	padding-left: 0;
}
.services--card {
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	list-style: none;
	padding: 54px 45px 46px 37px;
	filter: drop-shadow(3px 4px 8px #2222225d);
}

.services-btn {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 56px;
	border-radius: 55px;
	border: 2px solid var(--blue-main);
  background-color: #ffffff00;
	font-size: 16px;
	font-weight: 700;
	color: var(--blue-main);
}
.services-btn:hover{
		background-color: var(--blue-main);
	color: #fff;
}
/* END OF SERVICES */


